/*--------------------------------------------------------------
. Add breakpoints and colors to g[side]-[breakpoint]-[color] classes
--------------------------------------------------------------*/
/**
 * This will allow us to use gradient-[breakpoint]-[side]-[color] classes with bootstrap breackpoints and UDS colors:
 * .g[side]-[breakpoint]-[color]
 * .gt-lg-gold
 * .gb-md-maroon
 * .gl-sm-gray-7
 * .gr-xs-white
 * .ov-gray-5
 * .ov-xl-gray-1
 * And so on ...
 *
 */

 $colors: (
	 "gold": $uds-color-base-gold,
	 "maroon": $uds-color-base-maroon,
	 "blue": $uds-color-base-blue,
	 "green": $uds-color-base-green,
	 "orange": $uds-color-base-orange,
	 "gray-1": $uds-color-base-gray-1,
	 "gray-2": $uds-color-base-gray-2,
	 "gray-3": $uds-color-base-gray-3,
	 "gray-4": $uds-color-base-gray-4,
	 "gray-5": $uds-color-base-gray-5,
	 "gray-6": $uds-color-base-gray-6,
	 "gray-7": $uds-color-base-gray-7,
	 "white": $uds-color-base-white,
	 "none": transparent,
 );

@each $name, $value in $colors {
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

$g-color: rgba($value, 0.79);
			@if ($name=='none'){
				$g-color: $value;
			}
		//	} @else{
		//	$g-color: rgba($value, 0.79);
//}

		//@each $name, $value in $colors {
			.gt#{$infix}-#{$name},
			.gr#{$infix}-#{$name},
			.gb#{$infix}-#{$name},
			.gl#{$infix}-#{$name},
			.ov#{$infix}-#{$name} {
				position: relative;
				z-index: 0;
				&:before {
				content: "";
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				}
			}
			.gt#{$infix}-#{$name}{
				&:before {
					background-image: linear-gradient(0deg, rgba($value, 0) 0%, $g-color 100%);
				}
			}
			.gr#{$infix}-#{$name}{
				&:before {
					background-image: linear-gradient(90deg, rgba($value, 0) 0%, $g-color 100%);
				}
			}
			.gb#{$infix}-#{$name}{
				&:before {
					background-image: linear-gradient(180deg, rgba($value, 0) 0%, $g-color 100%);
				}
			}
			.gl#{$infix}-#{$name}{
				&:before {
					background-image: linear-gradient(270deg, rgba($value, 0) 0%, $g-color 100%);
				}
			}

			.ov#{$infix}-#{$name}{
				&:before {
					background-color: $g-color;
				}
			}

	//	}




  }
}
}
