/*--------------------------------------------------------------
1. Max width 1920px, align center
--------------------------------------------------------------*/

main > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 1920px;
}

/*--------------------------------------------------------------
2. Header title underline styles
--------------------------------------------------------------*/

.title .subdomain-name a {
	color: #191919;
	text-decoration: none;
}

.title .subdomain-name a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
2.5 Hero title bottom-margin-fix
--------------------------------------------------------------*/
/* Prevent the hero content container (title, sub-title,
buttons), from being moved down on mobile when there are no
buttons. */
.uds-hero {
	.uds-hero-container {
		// At mobile size, do not apply negative margin.
		// Also fix the left margin to match (?) the content area.
		@media screen and (max-width: $uds-component-heroes-media-uds-hero-uds-hero-container-media-breakpoint) {
			margin-bottom: 2rem !important;
			margin-left: 1rem;

			// With buttons, apply negative margin as in the original styles.
			&.has-buttons {
				margin-bottom: -2rem !important;
			}
		}
	}
}

/*--------------------------------------------------------------
3. BUG-FIX: .dropdown-pinned class appears at the wrong breakpoint.
--------------------------------------------------------------*/

/* The included JS file for the global header accidently applies the .dropdown-pinned
class to body tag when the menu is being displayed at the desktop viewport. This class
is only meant to be applied to the screen when the mobile menu is being displayed. */

/* The temporary fix is to overwrite the default behavior with a media query targeting
the desktop viewport. (The breakpoint for the header is the XL breakpoint.) */

@include media-breakpoint-up(xl) {
	.dropdown-pinned {
		overflow: initial;
		position: static;
	}
}

/*--------------------------------------------------------------
X. Misc. styles
--------------------------------------------------------------*/

/**
 * The UDS 'quicklinks' class was causing a conflict with the WP
 * admin bar, which also uses the class 'quicklinks'. The UDS styles
 * were applying 'display: flex', where the admin bar needs 'display: block'.
 *
 * To __temporarily__ fix this, I'm applying the display block to the area.
 * It turns out that the section that has the class of 'quicklinks' also has an
 * ID of 'wp-toolbar'. Since ID's are more specific, I'm targeting that.
 *
 *
 */
#wp-toolbar {
	display: block;
}


/*--------------------------------------------------------------
 Hero img
--------------------------------------------------------------*/
.uds-hero{
position:relative;
&:after{
	content: "";
	background: linear-gradient(180deg, #19191900 0%, #191919c9 100%);
	height: 100%;
    width: 100%;
    position: absolute;
}
.uds-hero-container{
	z-index: 999;
}
	img{
		position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
	}
}

/*--------------------------------------------------------------
 Prevent certain links from working on the admin side.
--------------------------------------------------------------*/
.acf-block-preview .uds-button a,
.acf-block-preview .card-button a,
.acf-block-preview a.hover-card-link {
	pointer-events: none;
}

/*--------------------------------------------------------------
Override UDS scss
--------------------------------------------------------------*/

//Override the UDS hero class on heroes.scss
@media screen and (max-width: $uds-breakpoint-sm){
.uds-hero.uds-hero-sm {
	padding-left: 0;
	padding-bottom: 0;
	}
}

//Override the UDS padding on uds-list class on list.scss
ul.uds-list {
    padding: 0 5rem 0 2rem;
}

/*--------------------------------------------------------------
Hero video
--------------------------------------------------------------*/
.hero-video {
  position: relative;
	 overflow: hidden;
	 @include media-breakpoint-down(sm) {
	 	overflow: unset;
	 }
  video {
    height: 100%;
		min-height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
		transform: translateX(-50%);
  }
	.hero-video-controls{
		position: relative;
		width: 100%;
display: block;
	.btn.btn-circle.btn-circle-large{
		z-index: 9;
		position: absolute;
     right: 0;
		 bottom: 0;
		 transition: 0.3s;
		 opacity: 0.4;
	}
	#playHeroVid{
		padding-left: 8px;
		display: none;
	}
}
&:hover{
	.btn.btn-circle.btn-circle-large{
		opacity: 1;
	}
}
}
