/*--------------------------------------------------------------
1. Max width 1920px, align center
--------------------------------------------------------------*/

main > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 1920px;
}

/*--------------------------------------------------------------
2. Header title underline styles
--------------------------------------------------------------*/

.title .subdomain-name a {
	color: #191919;
	text-decoration: none;
}

.title .subdomain-name a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
2.5 Hero title bottom-margin-fix
--------------------------------------------------------------*/
/* Prevent the hero content container (title, sub-title,
buttons), from being moved down on mobile when there are no
buttons. */
.uds-hero {
	.uds-hero-container {
		// At mobile size, do not apply negative margin.
		// Also fix the left margin to match (?) the content area.
		@media screen and (max-width: $uds-component-heroes-media-uds-hero-uds-hero-container-media-breakpoint) {
			margin-bottom: 2rem !important;
			margin-left: 1rem;

			// With buttons, apply negative margin as in the original styles.
			&.has-buttons {
				margin-bottom: -2rem !important;
			}
		}
	}
}

/*--------------------------------------------------------------
3. BUG-FIX: .dropdown-pinned class appears at the wrong breakpoint.
--------------------------------------------------------------*/

/* The included JS file for the global header accidently applies the .dropdown-pinned
class to body tag when the menu is being displayed at the desktop viewport. This class
is only meant to be applied to the screen when the mobile menu is being displayed. */

/* The temporary fix is to overwrite the default behavior with a media query targeting
the desktop viewport. (The breakpoint for the header is the XL breakpoint.) */

@include media-breakpoint-up(xl) {
	.dropdown-pinned {
		overflow: initial;
		position: static;
	}
}

/*--------------------------------------------------------------
X. Misc. styles
--------------------------------------------------------------*/

/**
 * The UDS 'quicklinks' class was causing a conflict with the WP
 * admin bar, which also uses the class 'quicklinks'. The UDS styles
 * were applying 'display: flex', where the admin bar needs 'display: block'.
 *
 * To __temporarily__ fix this, I'm applying the display block to the area.
 * It turns out that the section that has the class of 'quicklinks' also has an
 * ID of 'wp-toolbar'. Since ID's are more specific, I'm targeting that.
 *
 *
 */
#wp-toolbar {
	display: block;
}


/*--------------------------------------------------------------
 Hero img
--------------------------------------------------------------*/
.uds-hero{
position:relative;
&:after{
	content: "";
	background: linear-gradient(180deg, #19191900 0%, #191919c9 100%);
	height: 100%;
    width: 100%;
    position: absolute;
}
.uds-hero-container{
	z-index: 999;
}
	img{
		position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
	}
}

/*--------------------------------------------------------------
 ACF Button block
--------------------------------------------------------------*/
.acf-block-preview .uds-button a,
.acf-block-preview .card-button a{
	pointer-events: none;
}

.is-style-maroon{
    @extend .maroon;
	}

.is-style-smokemode{
	@extend .smokemode;
}

.is-style-light-smokemode{
	@extend .light-smokemode;
}

.is-style-darkmode{
	@extend .darkmode;
}
.is-style-darkmode-gold{
	@extend .darkmode;
	@extend .gold;
}
.uds-list ul,
.uds-list ol{
	@extend .uds-list;
}

.is-style-steplist{
	@extend .uds-steplist;
}

.is-style-steplist-gold{
	@extend .uds-steplist;
	@extend .uds-steplist-gold;
}

.is-style-steplist-maroon{
	@extend .uds-steplist;
	@extend .uds-steplist-maroon;
}

.is-style-steplist-smokemode{
	@extend .uds-steplist;
	@extend .smokemode;
}

.is-style-steplist-smokemode-gold{
	@extend .uds-steplist;
	@extend .uds-steplist-gold;
	@extend .smokemode;
}

.is-style-steplist-smokemode-maroon{
	@extend .uds-steplist;
	@extend .uds-steplist-maroon;
	@extend .smokemode;
}

.is-style-steplist-light-smokemode{
	@extend .uds-steplist;
	@extend .light-smokemode;
}

.is-style-steplist-light-smokemode-gold{
	@extend .uds-steplist;
	@extend .uds-steplist-gold;
	@extend .light-smokemode;
}

.is-style-steplist-light-smokemode-maroon{
	@extend .uds-steplist;
	@extend .uds-steplist-maroon;
	@extend .light-smokemode;
}

.is-style-steplist-darkmode{
	@extend .uds-steplist;
	@extend .darkmode;
	li{
		&:before{
			background-color: #fafafa!important;
     color: #191919!important;
		}
	}
}

.is-style-steplist-darkmode-gold{
	@extend .uds-steplist;
	@extend .uds-steplist-gold;
	@extend .darkmode;
}

.is-style-steplist-darkmode-maroon{
	@extend .uds-steplist;
	@extend .uds-steplist-maroon;
	@extend .darkmode;
}

/*---------------------------------------------------------------
 Fix Alert Close button
 To use the existing Javascript in Bootstrap to close alerts, you
 need to use the class 'alert-dismissible'. However, that class
 has some strong opinions on where buttons go. Here we override
 those settings to get UDS styles.
---------------------------------------------------------------*/
.alert-dismissible {
	//Remove alert-dismissible's 4rem right padding in favor of UDS 1rem.
	padding-right: $uds-size-spacing-2;
	& .close {
		//Remove alert-dismissible's absolute button positioning.
		position: relative;
	}
}

.alert-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.alert-close {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

/*---------------------------------------------------------------
 Adjust position of icon and close button on XS

 Margins were being applied to both the icon and close button
 on XS, essentially to maximize the room available for text, but
 it ended up putting the icon, text, and close button all on
 different lines - nothing was aligned at all.
---------------------------------------------------------------*/
@media screen and (max-width: $uds-breakpoint-lg) {
	// Ensure some extra space between the content and the close button
	.alert .alert-content {
		margin-right: $uds-size-spacing-2
	}
    // remove the 1rem top margin that is added to the icon on mobile.
	.alert .alert-icon svg {
        margin-top: 0 !important;
    }

	// Reposition the close button on smaller screens.
	.alert .alert-close {
		// Remove the negative margin on the close button used to move it up and right.
		justify-content: flex-start;
		align-items: flex-end;
		margin-top: 0;
		margin-right: 0;
	}


}

/*--------------------------------------------------------------
Override UDS scss
--------------------------------------------------------------*/

//Override the UDS hero class on heroes.scss
@media screen and (max-width: $uds-breakpoint-sm){
.uds-hero.uds-hero-sm {
	margin: 0;
	padding-left: 0;
	padding-bottom: 0;
	}
}

//Override the UDS padding on uds-list class on list.scss
ul.uds-list {
    padding: 0 5rem 0 2rem;
}

/*--------------------------------------------------------------
Hero video
--------------------------------------------------------------*/
.hero-video {
  position: relative;
	 overflow: hidden;
	 @include media-breakpoint-down(xs) {
	 	overflow: unset;
	 }
  video {
    height: 100%;
		min-height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
		transform: translateX(-50%);
  }
	.hero-video-controls{
		position: relative;
		width: 100%;
display: block;
	.btn.btn-circle.btn-circle-large{
		z-index: 9;
		position: absolute;
     right: 0;
		 bottom: 0;
		 transition: 0.3s;
		 opacity: 0.4;
	}
	#playHeroVid{
		padding-left: 8px;
		display: none;
	}
}
&:hover{
	.btn.btn-circle.btn-circle-large{
		opacity: 1;
	}
}
}


@include media-breakpoint-down(md) {
  #footer-colophon, #footer-innovation{
		padding-right: 12px;
    padding-left: 12px;
  }
}

/*--------------------------------------------------------------
Back to top
--------------------------------------------------------------*/

.uds-back-to-top{
	    z-index: 9;
	display: none;
	//display: inline-block;
	padding: 12px 16px;
	background-color: #747474A3;
	position: fixed;
	bottom: 98px;
	right: -26px;
	transform: rotate(-90deg);
	a {
		text-decoration: none;
		color: #fff;
		span{
			font-size: 20px;
			line-height: 19px;
		padding-right: 10px;

		display: inline-block;
text-align: right;
	}
	svg{
		font-size: 40px;
		transition: 0.3s;
	}
	}
	&:hover{
		a svg{
			transform: translateX(3px);
		}
	}
}


/*--------------------------------------------------------------
Dividers
--------------------------------------------------------------*/
.is-style-copy-divider{
	@extend .copy-divider;
}
.block-editor-block-list__layout .wp-block.is-style-copy-divider{
	margin-right: 0;
	margin-left: 0;
	max-width: $uds-size-spacing-32!important;
	&.wp-block-separator{
		opacity: 1;
	}
}

/*--------------------------------------------------------------
Video tabs
--------------------------------------------------------------*/

.side-tabs{
	height: 100%;
	.nav-tabs {
		border-bottom: unset;
		.nav-item.show .nav-link,
		 .nav-link.active {
			color: #191919!important;
		border-bottom: 4px solid #ffc627!important;
			border-color:rgba(0,0,0,.125);
		}
		.nav-link:hover{
			color: #000;
		}
		.nav-link {
			width: 100%;
			transition:0.3s;
			border: 1px solid rgba(0,0,0,.125);
			padding: 30px 32px;
			color: #BFBFBF;
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}

	}
	.tab-pane {
		position: relative;
		height: inherit;
		iframe{
		width: 100%;
		height: inherit;
	}
	img{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.btn.btn-circle.btn-circle-alt-white{
		background: #ffffff92;
		border: 1px solid #D0D0D0;
		svg{

		    padding-left: 2px;
		    opacity: 0.8;

		}

	}
	.btn{
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 9;
		transform: translate(-50%, -50%);
	}
}
.card.tab-content{
	border: 0;
	background-color: unset;
}
.tab-content .tab-pane:after {
    content: "";
    background: -webkit-gradient(linear,left top,left bottom,from(#19191900),to(#191919c9));
    background: -webkit-linear-gradient(top,#19191900 60%,#191919c9 100%);
    background: -moz-linear-gradient(top,#19191900 60%,#191919c9 100%);
    background: -o-linear-gradient(top,#19191900 60%,#191919c9 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(60%,#19191900),to(#191919c9));
    background: linear-gradient(
180deg
,#19191900 60%,#191919c9 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
}

.no-gradient-bg:after{
	display:none;
}
@media(max-width:$uds-breakpoint-sm){
	.tab-content.card{
		display: block;
		height:350px;
		margin-top:25px;
	}
}
a.scroll-control-prev,
a.scroll-control-next{
	display: none;
}
}
