.uds-counter_container {
	padding: 0 0.5rem;
	flex-direction: column;
}

.uds-counter_content {
	width: max-content;
	align-items: center;
	margin: 0 auto;
}

.uds-counter_divider {
	height: 0.5rem;
	background: var(--bs-gold);
	width: 100%;
}
