/*--------------------------------------------------------------
# Style for UDS Anchor Menu
Block lives in Unity Blocks v2.0
Keep until refactor for anchor menu inside <header>
--------------------------------------------------------------*/
//mobile
.admin-bar .uds-anchor-menu.uds-anchor-menu-expanded-lg.sticky {
    top: 149px;
}
.uds-anchor-menu.uds-anchor-menu-expanded-lg.sticky {
    top: 117px;
}
//desktop
@media (min-width: 992px){
	.admin-bar .uds-anchor-menu.uds-anchor-menu-expanded-lg.sticky {
		top: 121px;
	}
	.uds-anchor-menu.uds-anchor-menu-expanded-lg.sticky {
		top: 89px;
	}
}
