/*---------------------------------------------------------------
 Fix Alert Close button
 To use the existing Javascript in Bootstrap to close alerts, you
 need to use the class 'alert-dismissible'. However, that class
 has some strong opinions on where buttons go. Here we override
 those settings to get UDS styles.
---------------------------------------------------------------*/
.alert-dismissible {
	//Remove alert-dismissible's 4rem right padding in favor of UDS 1rem.
	padding-right: $uds-size-spacing-2;

	& .close {
		//Remove alert-dismissible's absolute button positioning.
		position: relative;
	}
}

.alert-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.alert-close {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

/*---------------------------------------------------------------
 Adjust position of icon and close button on XS

 Margins were being applied to both the icon and close button
 on XS, essentially to maximize the room available for text, but
 it ended up putting the icon, text, and close button all on
 different lines - nothing was aligned at all.
---------------------------------------------------------------*/
@media screen and (max-width: $uds-breakpoint-lg) {
	// Ensure some extra space between the content and the close button
	.alert .alert-content {
		margin-right: $uds-size-spacing-2;
	}

	// remove the 1rem top margin that is added to the icon on mobile.
	.alert .alert-icon svg {
		margin-top: 0 !important;
	}

	// Reposition the close button on smaller screens.
	.alert .alert-close {
		// Remove the negative margin on the close button used to move it up and right.
		justify-content: flex-start;
		align-items: flex-end;
		margin-top: 0;
		margin-right: 0;
	}
}
