/*--------------------------------------------------------------
3. BUG-FIX: .dropdown-pinned class appears at the wrong breakpoint.
--------------------------------------------------------------*/

/* The included JS file for the global header accidently applies the .dropdown-pinned
class to body tag when the menu is being displayed at the desktop viewport. This class
is only meant to be applied to the screen when the mobile menu is being displayed. */

/* The temporary fix is to overwrite the default behavior with a media query targeting
the desktop viewport. (The breakpoint for the header is the XL breakpoint.) */

@include media-breakpoint-up(xl) {
	.dropdown-pinned {
		overflow: initial;
		position: static;
	}
}
