/*--------------------------------------------------------------
. vars for building backgrounds
--------------------------------------------------------------*/
$cronkite-dark: url($image-assets-path + "/background-patterns/buildings/cronkite-dark.png");
$cronkite-light: url($image-assets-path + "/background-patterns/buildings/cronkite-light.png");
$fusion-dark: url($image-assets-path + "/background-patterns/buildings/fusion-dark.png");
$fusion-light: url($image-assets-path + "/background-patterns/buildings/fusion-light.png");
$hayden-dark: url($image-assets-path + "/background-patterns/buildings/hayden-dark.png");
$hayden-light: url($image-assets-path + "/background-patterns/buildings/hayden-light.png");
$hayden-library-dark: url($image-assets-path + "/background-patterns/buildings/hayden-library-dark.png");
$hayden-library-light: url($image-assets-path + "/background-patterns/buildings/hayden-library-light.png");
$honeycomb-dark: url($image-assets-path + "/background-patterns/buildings/honeycomb-dark.png");
$honeycomb-light: url($image-assets-path + "/background-patterns/buildings/honeycomb-light.png");
$plaza-dark: url($image-assets-path + "/background-patterns/buildings/plaza-dark.png");
$plaza-light: url($image-assets-path + "/background-patterns/buildings/plaza-light.png");
$poly-dark: url($image-assets-path + "/background-patterns/buildings/poly-dark.png");
$poly-light: url($image-assets-path + "/background-patterns/buildings/poly-light.png");
$tempe-dark: url($image-assets-path + "/background-patterns/buildings/tempe-dark.png");
$tempe-light: url($image-assets-path + "/background-patterns/buildings/tempe-light.png");
$thunderbird-dark: url($image-assets-path + "/background-patterns/buildings/thunderbird-dark.png");
$thunderbird-light: url($image-assets-path + "/background-patterns/buildings/thunderbird-light.png");
$wexford-dark: url($image-assets-path + "/background-patterns/buildings/wexford-dark.png");
$wexford-light: url($image-assets-path + "/background-patterns/buildings/wexford-light.png");
