/*--------------------------------------------------------------
Foldable cards - fix padding on top when there is no heading
to provide spacing. Also, remove margin from any header that
is first to avoid extra space
--------------------------------------------------------------*/
.card.card-foldable .card-body {
	padding: 1.25rem; // 20px

	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child,
	h5:first-child {
		margin-top: 0;
	}
}

// Use flexbox to keep the icon from overlapping a second line in the title.
span.card-icon {
	display: flex;
	align-items: flex-start;
}

/*--------------------------------------------------------------
UDS Card tags and hero buttons
--------------------------------------------------------------*/
// Note: Button spacing is handled by the global .btn + .btn rule in _buttons.scss
