/*--------------------------------------------------------------
UDS Form - contact form 7
--------------------------------------------------------------*/
.wpcf7-form {
	@extend .uds-form;
	input:not([type="submit"]),
	textarea,
	select {
		@extend .form-control;
	}

	input[type="submit"] {
		padding-left: 32px !important;
		@extend .btn;
		@extend .btn-maroon;
	}
	.wpcf7-radio .wpcf7-list-item {
		margin-left: 3rem !important;
	}
	.wpcf7-checkbox .wpcf7-list-item {
		margin-left: 3rem !important;
	}
	.wpcf7-list-item {
		//margin: 0;
		label {
			@extend .form-check;
			margin-bottom: 1rem !important;
			padding-left: 0.25rem;
			input {
				@extend .form-check-input;
				&[type="radio"] + span.wpcf7-list-item-label {
					&:before,
					&:after {
						border-radius: 50%;
					}
				}
				&[type="radio"]:checked + span.wpcf7-list-item-label:after {
					background: #000;
				}

				&[type="checkbox"] + span.wpcf7-list-item-label {
					&:before {
						left: -2.25rem;
						top: 0.1rem;
					}
					&:after {
						left: -2rem;
					}
				}

				&[type="checkbox"]:checked + span.wpcf7-list-item-label:after {
					background: transparent;
					background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
					height: 1rem;
					width: 1rem;
				}
			}
			span.wpcf7-list-item-label {
				//@extend .form-check-label;
				&:before {
					content: "";
					position: absolute;
					display: inline-block;
					left: -2.25rem;
					border: 1px solid #747474;
					width: 1.5rem;
					height: 1.5rem;
					background: #fff;
				}
				&:after {
					content: "";
					position: absolute;
					display: inline-block;
					left: -1.875rem;
					top: 0.375rem;
					width: 0.75rem;
					height: 0.75rem;
				}
			}
		}
	}
}
