/*--------------------------------------------------------------
1. Max width 1920px, align center
--------------------------------------------------------------*/

main > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 1920px;
}

/*--------------------------------------------------------------
2. Header title underline styles
--------------------------------------------------------------*/

.title .subdomain-name a {
	color: #191919;
	text-decoration: none;
}

.title .subdomain-name a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
2.5 Hero title bottom-margin-fix
--------------------------------------------------------------*/
/* Prevent the hero content container (title, sub-title,
buttons), from being moved down on mobile when there are no
buttons. */

.uds-hero-lg,
.uds-hero-sm {
	.uds-hero-container {
		// At mobile size, do not apply the negative margin if no buttons exist.
		// Also fix the left margin to match (?) the content area.
		@media screen and (max-width: $uds-grid-container-max-width-s) {
			margin-bottom: 0 !important;
			margin-left: 1rem;

			&.has-buttons {
				// With buttons, use -2rem bottom margin to pull the content down.
				margin-bottom: -2rem !important;
			}
		}
	}
}

.uds-hero-md {
	.uds-hero-container {
		// At mobile size, do not apply negative margin or a 'top' of 2rem if no buttons exist.
		// Also fix the left margin to match (?) the content area.
		@media screen and (max-width: $uds-grid-container-max-width-s) {
			margin-bottom: 2rem !important;
			margin-left: 1rem;
			top: 0 !important;

			&.has-buttons {
				// With buttons, we need to move down
				top: 2rem !important;
			}
		}
	}
}

/*--------------------------------------------------------------
3. BUG-FIX: .dropdown-pinned class appears at the wrong breakpoint.
--------------------------------------------------------------*/

/* The included JS file for the global header accidently applies the .dropdown-pinned
class to body tag when the menu is being displayed at the desktop viewport. This class
is only meant to be applied to the screen when the mobile menu is being displayed. */

/* The temporary fix is to overwrite the default behavior with a media query targeting
the desktop viewport. (The breakpoint for the header is the XL breakpoint.) */

@include media-breakpoint-up(xl) {
	.dropdown-pinned {
		overflow: initial;
		position: static;
	}
}

/*--------------------------------------------------------------
X. Misc. styles
--------------------------------------------------------------*/

/**
 * The UDS 'quicklinks' class was causing a conflict with the WP
 * admin bar, which also uses the class 'quicklinks'. The UDS styles
 * were applying 'display: flex', where the admin bar needs 'display: block'.
 *
 * To __temporarily__ fix this, I'm applying the display block to the area.
 * It turns out that the section that has the class of 'quicklinks' also has an
 * ID of 'wp-toolbar'. Since ID's are more specific, I'm targeting that.
 *
 *
 */
#wp-toolbar {
	display: block;
}

/*--------------------------------------------------------------
 Hero adjustments
--------------------------------------------------------------*/
.uds-hero {
	position: relative;

	.uds-hero-container {
		// setting this to match the Unity hero z-index, avoiding conflict with the anchor menu.
		z-index: 30;
	}

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
}

/*--------------------------------------------------------------
Unity hero: highlight/subtitle covers up letters fix

The line height on hero H1's was not large enough to accomodate
highlighted text, leading to letters with descenders ('g', 'y',
etc.) being clipped. Upping the line height here to the mimimum
size that will prevent clipping.

Note: This is for all sizes except extra small and small, which
are handled with the media query below
---------------------------------------------------------------*/
div[class^="uds-hero"] h1 {
	line-height: 4.5rem;
}

// For the sub-title, which does not change size on mobile, btw.
div[class^="uds-hero"] [role="doc-subtitle"] {
	line-height: 1.7rem;
}

/*--------------------------------------------------------------
Unity Hero Block Title/Subtitle Z-index

The unity hero block loses the z-index setting on the title and
subtitle when it drops below 768px (don't know why). Adding it
back.
---------------------------------------------------------------*/
@media (max-width: $uds-grid-container-max-width-md) {
	div[class^="uds-hero"] .btn-row,
	div[class^="uds-hero"] .content,
	div[class^="uds-hero"] [role="doc-subtitle"],
	div[class^="uds-hero"] a.btn,
	div[class^="uds-hero"] a.uds-modal-close-btn,
	div[class^="uds-hero"] h1 {
		z-index: 30;
	}

	/* Unity hero also decides to drop the background gradient
	at this size. Adding it back. Style rule copied directly from
	the inspector at larger screen size. */

	div[class^="uds-hero"]::after {
		content: "";
		height: 100%;
		width: 100%;
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(#19191900),
			to(#191919c9)
		);
		background-image: -webkit-linear-gradient(top, #19191900 0, #191919c9 100%);
		background-image: -moz-linear-gradient(top, #19191900 0, #191919c9 100%);
		background-image: -o-linear-gradient(top, #19191900 0, #191919c9 100%);
		background-image: linear-gradient(180deg, #19191900 0, #191919c9 100%);
		grid-column: 1 / span 3;
		grid-row: 1 / span 4;
		z-index: 20;
	}

	/* The unity hero bock only scaled the font size down at the
	smallest mobile size (XSmall). Adding these rules to this
	media query so we will scale down the font size at XS and Small.

	Note: because we had an issue with highlighted text and line
	height, we set the line height manually here, and did not use
	a unity theme variable.

	Note: We're also using slightly smaller than standard text for our
	hero H1's here, only because it looks a little better IMO.
	*/
	div[class^="uds-hero"] h1 {
		font-size: $uds-component-heading-two-mobile-font-size; /* 2 rem */
		line-height: 2.25rem;
	}
}

@media only screen and (min-width: $uds-breakpoint-sm) and (max-width: $uds-breakpoint-md) {
	@media (max-width: 768px) {
		div[class^="uds-hero"] .content {
			width: 100%;
			max-width: 560px;
			padding-right: 20px;
			padding-left: 20px;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

/*--------------------------------------------------------------
 ACF Button block
--------------------------------------------------------------*/
// Prevent our buttons from behaving as actual links in the editor.
.acf-block-preview .uds-button a, // Links inside an outer DIV
.acf-block-preview > a.btn, // Links with no outer DIV
.acf-block-preview .uds-button button, // buttons with outer div,
.acf-block-preview > button.btn, // buttons with no outer div
.acf-block-preview .card-button a {
	pointer-events: none;
}

.is-style-maroon {
	@extend .maroon;
}

.is-style-smokemode {
	@extend .smokemode;
}

.is-style-light-smokemode {
	@extend .light-smokemode;
}

.is-style-darkmode {
	@extend .darkmode;
}

.is-style-darkmode-gold {
	@extend .darkmode;
	@extend .gold;
}

.uds-list ul,
.uds-list ol {
	@extend .uds-list;
}
/*
main {
	ul:not(.uds-list),
	ol:not(.uds-list),
	ul.wp-block-list:not(.uds-list),
	ol.wp-block-list:not(.uds-list) {
		@extend .uds-list;
	}
	ul,
	ol {
		&.has-asu-maroon-color {
			color: $uds-color-base-gray-7 !important;
			@extend .maroon;
		}
		&.has-asu-gold-color {
			color: $uds-color-base-white !important;
			@extend .gold;
			@extend .darkmode;
		}
	}
}
*/

.is-style-steplist {
	@extend .uds-steplist;
}

.is-style-steplist-gold {
	@extend .uds-steplist;
	@extend .uds-steplist-gold;
}

.is-style-steplist-maroon {
	@extend .uds-steplist;
	@extend .uds-steplist-maroon;
}

.is-style-steplist-smokemode {
	@extend .uds-steplist;
	@extend .smokemode;
}

.is-style-steplist-smokemode-gold {
	@extend .uds-steplist;
	@extend .uds-steplist-gold;
	@extend .smokemode;
}

.is-style-steplist-smokemode-maroon {
	@extend .uds-steplist;
	@extend .uds-steplist-maroon;
	@extend .smokemode;
}

.is-style-steplist-light-smokemode {
	@extend .uds-steplist;
	@extend .light-smokemode;
}

.is-style-steplist-light-smokemode-gold {
	@extend .uds-steplist;
	@extend .uds-steplist-gold;
	@extend .light-smokemode;
}

.is-style-steplist-light-smokemode-maroon {
	@extend .uds-steplist;
	@extend .uds-steplist-maroon;
	@extend .light-smokemode;
}

.is-style-steplist-darkmode {
	@extend .uds-steplist;
	@extend .darkmode;

	li {
		&:before {
			background-color: #fafafa !important;
			color: #191919 !important;
		}
	}
}

.is-style-steplist-darkmode-gold {
	@extend .uds-steplist;
	@extend .uds-steplist-gold;
	@extend .darkmode;
}

.is-style-steplist-darkmode-maroon {
	@extend .uds-steplist;
	@extend .uds-steplist-maroon;
	@extend .darkmode;
}

/*---------------------------------------------------------------
 Fix Alert Close button
 To use the existing Javascript in Bootstrap to close alerts, you
 need to use the class 'alert-dismissible'. However, that class
 has some strong opinions on where buttons go. Here we override
 those settings to get UDS styles.
---------------------------------------------------------------*/
.alert-dismissible {
	//Remove alert-dismissible's 4rem right padding in favor of UDS 1rem.
	padding-right: $uds-size-spacing-2;

	& .close {
		//Remove alert-dismissible's absolute button positioning.
		position: relative;
	}
}

.alert-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.alert-close {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

/*---------------------------------------------------------------
 Adjust position of icon and close button on XS

 Margins were being applied to both the icon and close button
 on XS, essentially to maximize the room available for text, but
 it ended up putting the icon, text, and close button all on
 different lines - nothing was aligned at all.
---------------------------------------------------------------*/
@media screen and (max-width: $uds-breakpoint-lg) {
	// Ensure some extra space between the content and the close button
	.alert .alert-content {
		margin-right: $uds-size-spacing-2;
	}

	// remove the 1rem top margin that is added to the icon on mobile.
	.alert .alert-icon svg {
		margin-top: 0 !important;
	}

	// Reposition the close button on smaller screens.
	.alert .alert-close {
		// Remove the negative margin on the close button used to move it up and right.
		justify-content: flex-start;
		align-items: flex-end;
		margin-top: 0;
		margin-right: 0;
	}
}

/*--------------------------------------------------------------
Override UDS scss
--------------------------------------------------------------*/

//Override the UDS hero class on heroes.scss
@media screen and (max-width: $uds-breakpoint-sm) {
	.uds-hero.uds-hero-sm {
		margin: 0;
		padding-left: 0;
		padding-bottom: 0;
	}
}

//Override the UDS padding on uds-list class on list.scss
ul.uds-list {
	padding: 0 5rem 0 2rem;
}

/*--------------------------------------------------------------
Hero video
--------------------------------------------------------------*/
.hero-video {
	position: relative;
	overflow: hidden;

	@include media-breakpoint-down(xs) {
		overflow: unset;
	}

	video {
		height: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.hero-video-controls {
		position: relative;
		width: 100%;
		display: block;

		.btn.btn-circle.btn-circle-large {
			z-index: 9;
			position: absolute;
			right: 0;
			bottom: 0;
			transition: 0.3s;
			opacity: 0.4;
		}

		#playHeroVid {
			padding-left: 8px;
			display: none;
		}
	}

	&:hover {
		.btn.btn-circle.btn-circle-large {
			opacity: 1;
		}
	}
}

@include media-breakpoint-down(md) {
	#footer-colophon,
	#footer-innovation {
		padding-right: 12px;
		padding-left: 12px;
	}
}

/*--------------------------------------------------------------
Dividers
--------------------------------------------------------------*/
.is-style-copy-divider {
	@extend .copy-divider;
}

.block-editor-block-list__layout .wp-block.is-style-copy-divider {
	margin-right: 0;
	margin-left: 0;
	max-width: $uds-size-spacing-32 !important;

	&.wp-block-separator {
		opacity: 1;
	}
}

/*--------------------------------------------------------------
Correct the button color on gray bg
--------------------------------------------------------------*/
.bg-gray-1,
.bg-gray-2,
.bg-gray-7,
.bg-white {
	a.btn.btn-maroon {
		color: white;
	}

	a.btn.btn-gold {
		color: initial;
	}

	a.btn.btn-gray {
		color: initial;
	}

	a.btn.btn-dark {
		color: white;
	}
}

/*--------------------------------------------------------------
Override the desktop media query for header to fix the gap issue
--------------------------------------------------------------*/
// Desktop
@include media-breakpoint-up(xl) {
	#asu-header + div,
	#asu-header + main {
		@include transition;
		margin-top: 144px;
	}
}

@include media-breakpoint-down(lg) {
	#asu-header + div,
	#asu-header + main {
		@include transition;
		margin-top: 113px;
	}
}

#wpadminbar + #asu-header.fixed-top,
body.logged-in.admin-bar #asu-header.fixed-top {
	top: 32px !important;
}

@include media-breakpoint-down(sm) {
	#wpadminbar + #asu-header.fixed-top,
	body.logged-in.admin-bar #asu-header.fixed-top {
		top: 46px !important;
	}
}
#wpadminbar + #asu-header.scrolled,
body.logged-in.admin-bar #asu-header.scrolled {
	top: 32px !important;
	transition: all 0.3s ease-out;
}

/*--------------------------------------------------------------
Fix content alignment issues between header/content/footer
--------------------------------------------------------------*/

#header-main .navbar,
#footer-columns.container {
	padding-left: 12px;
	padding-right: 12px;
}

@media (max-width: 991.98px) {
	#footer-innovation .footer-innovation-links .nav {
		order: 2;
		padding: 0;
	}

	#footer-innovation .footer-innovation-links .img-link {
		order: 1;
	}

	#footer-colophon .nav {
		padding: 0;
	}
}

@media (max-width: 806px) {
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

footer .menu-social-media-container a.nav-link:last-of-type {
	padding-right: 0;
}

footer .menu-social-media-container a.nav-link:first-of-type {
	padding-left: 0;
}

footer #wrapper-footer-innovation .img-link {
	margin-right: 0;
}

.uds-hero-container,
.container {
	.highlight-gold,
	.highlight-white,
	.highlight-black {
		box-shadow: 0 0 0 #ffc627, 0 0 0 #ffc627;
		padding-left: 0.15em;
		padding-right: 0.15em;
	}
}

/*--------------------------------------------------------------
Always set the image height in core/image to auto
--------------------------------------------------------------*/
.wp-block-image img {
	height: auto !important;
}

/*--------------------------------------------------------------
UDS Grid Links
--------------------------------------------------------------*/
.uds-grid-links a {
	display: flex;
	justify-content: flex-start;
	&.grid-link-bg-img {
		position: relative;
		height: 150px;
		padding: 0;
		&:after {
			content: "";
			background: linear-gradient(180deg, #19191900 0, #191919c9 100%);
			height: 100%;
			width: 100%;
			position: absolute;
		}
		p {
			z-index: 2;
			margin: auto;
		}
	}
	svg {
		margin-top: $uds-size-spacing-half;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

/*--------------------------------------------------------------
usd modal windows
--------------------------------------------------------------*/

.uds-modal {
	z-index: 1050;
	position: fixed;
}

/*--------------------------------------------------------------
BUG: Story hero layout breaks with oversized images.
--------------------------------------------------------------*/
.uds-story-hero .hero {
	width: 100%;
	max-height: 100%;
}

/*--------------------------------------------------------------
Correct the single page issues
--------------------------------------------------------------*/
.container.single-news-post-container {
	background: white;
	transform: translateY(0px);
	margin-top: -128px;
}

article.type-news_post {
	.entry-header {
		.entry-title {
			margin-top: 2rem;
		}
	}
}

.uds-story-hero {
	picture {
		@extend .hero;
	}
}

/*--------------------------------------------------------------
BUG: Upstream changes broke button text on particular backgrounds.
We override them here with more specific rules so that our buttons
always have the correct link colors, regardless of background.

Note: The upstream changes only broke the default link color, but
the :hover colors were not affected, and were correct. We're only
fixing the standard color here.$uds-color-base-white
--------------------------------------------------------------*/

a.btn.btn-maroon {
	color: $uds-color-base-white;
}

a.btn.btn-gold {
	color: $uds-color-base-gray-7;
}

a.btn.btn-dark {
	color: $uds-color-base-white;
}

a.btn.btn-gray {
	color: $uds-color-base-gray-7;
}

/*--------------------------------------------------------------
Temporary fix: Adjust the position of the gold underline on
active sidebar items. This matches a change on Storybook that
we have not pulled from upstream yet, but looks to be the correct
way to handle the underlines.
--------------------------------------------------------------*/
// Position the is-active underline for most cases
.sidebar .nav-link.is-active::after {
	top: 0.5rem;
	margin-top: 0.5rem;
}
// Position the is-active underline for the last item of a sub-menu
.card-foldable .card-body .nav-link-container:last-child .is-active::after {
	top: 1rem;
}

/*--------------------------------------------------------------
wp-block-separator
--------------------------------------------------------------*/

.wp-block-separator {
	border-top: 0;
	border-bottom: 0;
}

/*--------------------------------------------------------------
usd image
--------------------------------------------------------------*/

.uds-img-with-text-wrap {
	&.float-left {
		margin: $uds-size-spacing-1 $uds-size-spacing-2 $uds-size-spacing-1 0;
	}
	&.float-right {
		margin: $uds-size-spacing-1 0 $uds-size-spacing-1 $uds-size-spacing-2;
	}
}

/*--------------------------------------------------------------
usd Tabbed panels
--------------------------------------------------------------*/
.uds-tabbed-panels {
	a.nav-item {
		svg {
			margin-right: $uds-size-spacing-half;
		}
	}
}

.bg-dark {
	.uds-tabbed-panels {
		@extend .uds-tabbed-panels-dark;
	}
	.tab-content {
		.tab-pane {
			@extend .text-white;
		}
	}
}

/*--------------------------------------------------------------
show more button
--------------------------------------------------------------*/
.uds-show-more-btn {
	position: relative;
	z-index: 1;

	& ~ div,
	& ~ p,
	& ~ h1,
	& ~ h1,
	& ~ h2,
	& ~ h3,
	& ~ h4,
	& ~ h5,
	& ~ h6,
	& ~ span,
	& ~ ul,
	& ~ figure,
	& ~ blockquote,
	& ~ img {
		display: none !important;
	}
	&:after {
		content: "";
		background: linear-gradient(180deg, #ffffff08 30%, #fff 100%);
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 20px;
		z-index: -1;
		transition: 0.3s;
		height: 300px;
		display: block;
	}
	a {
		display: initial;
	}
}

.wp-block-acf-uds-show-more {
	.uds-show-more-btn {
		z-index: 0;
		&:after {
			content: none;
		}
	}

	& ~ .wp-block {
		background: #ff00004d;
	}
}

.uds-show-less-container {
	position: relative;
	padding-bottom: 80px;

	.uds-show-less-btn {
		//transition: 0.3s;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
	}
}

/*--------------------------------------------------------------
UDS Card tags and hero buttons
--------------------------------------------------------------*/
.v1-uds-hero-container,
.card-tags {
	.btn + .btn {
		margin-left: 0;
	}
}

/*--------------------------------------------------------------
UDS Breadcrumb - Yoast
--------------------------------------------------------------*/
.breadcrumb.yoast,
.yoast-breadcrumbs {
	span span span {
		&:before {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			color: #bfbfbf;
			content: "/";
		}
	}
}

.yoast-breadcrumbs {
	@extend .breadcrumb;
}

/*--------------------------------------------------------------
UDS image overlap
--------------------------------------------------------------*/
$overlap_image_size: (
	"95": 95%,
	"90": 90%,
	"85": 85%,
	"80": 80%,
	"75": 75%,
	"70": 70%,
	"65": 65%,
);

.uds-image-overlap {
	.content-wrapper {
		margin-top: auto;
		margin-bottom: auto;
	}
	@media (min-width: 992px) {
		@for $i from 65 through 99 {
			img.uds_image_overlap_image_size_#{$i} {
				width: (1% * $i);
			}
		}
	}
}

/*--------------------------------------------------------------
UDS Pagination - active page
--------------------------------------------------------------*/
.pagination {
	.page-item.active {
		span.page-link.current {
			padding: 0.5rem 0.75rem;
		}
	}
}

/*--------------------------------------------------------------
Foldable cards - fix padding on top when there is no heading
to provide spacing. Also, remove margin from any header that
is first to avoid extra space
--------------------------------------------------------------*/
.card.card-foldable .card-body {
	padding: 1.25rem; // 20px

	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child,
	h5:first-child {
		margin-top: 0;
	}
}

// Use flexbox to keep the icon from overlapping a second line in the title.
span.card-icon {
	display: flex;
	align-items: flex-start;
}

/*--------------------------------------------------------------
iSearch profiles - TEMPORARY - Please remove once iSearch plugin is updated.
--------------------------------------------------------------*/

.three-col .isearch-default-list .profile.profile-type-standard {
	width: 33%;
	display: inline-block;
	margin-bottom: 0.5rem;
}
.four-col .isearch-default-list .profile.profile-type-standard {
	width: 25%;
	display: inline-block;
	margin-bottom: 0.5rem;
}

.three-col .isearch-default-list .profile.profile-type-standard .profile-row,
.four-col .isearch-default-list .profile.profile-type-standard .profile-row {
	display: grid;
	border-bottom: 0;
}
.three-col
	.isearch-default-list
	.profile.profile-type-standard
	.profile-row
	.profile-bio-column
	> p,
.four-col
	.isearch-default-list
	.profile.profile-type-standard
	.profile-row
	.profile-bio-column
	> p {
	display: none;
}

.three-col
	.isearch-default-list
	.profile.profile-type-standard
	.profile-row
	.profile-photo-column,
.four-col
	.isearch-default-list
	.profile.profile-type-standard
	.profile-row
	.profile-photo-column {
	padding: 24px 24px 5px 0;
}

.three-col
	.isearch-default-list
	.profile.profile-type-standard
	.profile-row
	.profile-bio-column,
.four-col
	.isearch-default-list
	.profile.profile-type-standard
	.profile-row
	.profile-bio-column {
	width: 90%;
}

@media (max-width: 992px) {
	.three-col .isearch-default-list .profile.profile-type-standard,
	.four-col .isearch-default-list .profile.profile-type-standard {
		width: 100%;
		display: inline-block;
	}
}

/*--------------------------------------------------------------
UDS Form - contact form 7
--------------------------------------------------------------*/
.wpcf7-form {
	@extend .uds-form;
	input:not([type="submit"]),
	textarea,
	select {
		@extend .form-control;
	}

	input[type="submit"] {
		padding-left: 32px !important;
		@extend .btn;
		@extend .btn-maroon;
	}
	.wpcf7-radio .wpcf7-list-item {
		margin-left: 3rem !important;
	}
	.wpcf7-checkbox .wpcf7-list-item {
		margin-left: 3rem !important;
	}
	.wpcf7-list-item {
		//margin: 0;
		label {
			@extend .form-check;
			margin-bottom: 1rem !important;
			padding-left: 0.25rem;
			input {
				@extend .form-check-input;
				&[type="radio"] + span.wpcf7-list-item-label {
					&:before,
					&:after {
						border-radius: 50%;
					}
				}
				&[type="radio"]:checked + span.wpcf7-list-item-label:after {
					background: #000;
				}

				&[type="checkbox"] + span.wpcf7-list-item-label {
					&:before {
						left: -2.25rem;
						top: 0.1rem;
					}
					&:after {
						left: -2rem;
					}
				}

				&[type="checkbox"]:checked + span.wpcf7-list-item-label:after {
					background: transparent;
					background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
					height: 1rem;
					width: 1rem;
				}
			}
			span.wpcf7-list-item-label {
				//@extend .form-check-label;
				&:before {
					content: "";
					position: absolute;
					display: inline-block;
					left: -2.25rem;
					border: 1px solid #747474;
					width: 1.5rem;
					height: 1.5rem;
					background: #fff;
				}
				&:after {
					content: "";
					position: absolute;
					display: inline-block;
					left: -1.875rem;
					top: 0.375rem;
					width: 0.75rem;
					height: 0.75rem;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
core/image
--------------------------------------------------------------*/
.wp-block-image {
	margin-bottom: $uds-size-spacing-4;
	img:nth-last-child(3) {
		border: 1px solid $uds-color-base-gray-3;
	}

	figcaption {
		border: 1px solid $uds-color-base-gray-3;
		border-top: none;
		opacity: 1;
		background: #fff 0% 0% no-repeat padding-box;
		padding: 0.75rem;
		font-size: 0.75rem;

		// Default WP figcaption adds margin.
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: inherit;
	}
	&.is-style-drop-shadow {
		figure {
			box-shadow: 0rem 0.5rem 1rem rgba(25, 25, 25, 0.2);
		}
	}

	&.is-style-circular {
		img {
			border: none;
			border-radius: 100%;
			object-fit: cover;
			aspect-ratio: 1 / 1;
		}

		figcaption {
			border: none;
			text-align: center;
		}
	}
}

figure.wp-block-image {
	display: inline-table;
	figcaption {
		display: table-caption;
		caption-side: bottom;
		box-shadow: inherit;
	}
	&.is-style-drop-shadow {
		box-shadow: 0rem 0.5rem 1rem rgba(25, 25, 25, 0.2);
	}
}
/*--------------------------------------------------------------
Add a smooth scroll behavior for the a[href="#"]
--------------------------------------------------------------*/
html {
	scroll-behavior: smooth;
}

/*--------------------------------------------------------------
btn+btn
--------------------------------------------------------------*/
.btn + .btn {
	margin-left: 0 !important;
}
.btn:not(:last-of-type) {
	margin-right: $uds-size-spacing-half;
}

@media (min-width: 1260px) {
	#skip-to-content {
		transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
		margin-top: 139px;
	}

	.admin-bar #asuHeader {
		top: 32px;
	}
}

@media (max-width: 1259.98px) {
	#skip-to-content {
		transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
		margin-top: 117px;
	}

	.admin-bar #asuHeader {
		top: 32px;
	}
}
/*--------------------------------------------------------------
WP admin bar mobile fix
--------------------------------------------------------------*/
@media (max-width: 992px) {
	.admin-bar #wpadminbar {
		position: sticky;
	}
}
