/*--------------------------------------------------------------
# Overlay Card Block

1. Mobile
2. Desktop lg
3. Desktop xl
--------------------------------------------------------------*/

.home-overlay-card{

	position: relative;
	img{
		width: 100%;
		transition: 0.3s;
		object-fit: cover;
		height: 100%;
	}
 img,
 picture{
	 object-fit: cover;
	 object-position: center;
	 height: inherit;
	 width: 100%;
	 position: absolute;
	 top:0;
	 left:0;
 }
 &.with-desc{
	 img,
	 picture{

	 }
 min-height: 330px;
 }
 &:not(.with-desc){
	 min-height: 540px;
 }
 .card-header,
 .card-body,
 .card-button{
	 z-index: 3;
	 color: #fff;
 }
 .card-header{
	 background-color: unset;
	 margin-top: auto;
flex-grow: initial!important;
padding-bottom: 15px;
	 &:not(.with-desc){
		 width: 50%;
		 overflow-wrap: normal;
		 padding-bottom: 24px;
	 }
 }
 .card-body{
	 flex-grow: initial;
padding-bottom: 10px;
 }
 .card-button{
	     margin-top: 0;
			 &:not(.with-desc){
				 width: 45%;
    position: absolute;
    right: 0;
    bottom: 0;
		.btn{
			float: right;
		}
			 }
}
	img.hover-image{
	}
	picture:nth-of-type(1),
	img:nth-of-type(1){
		z-index: 1;
	}
	picture:nth-of-type(2),
	img:nth-of-type(2){
		z-index: 0;
	}
	&:not(.with-desc){
		picture:nth-of-type(2),
		img:nth-of-type(2){
			position: absolute;
		 top:0;
		 left:0;
	 }
	 /*.card-content{
 		position: absolute;
 		left: 0;
 		bottom:0;
	}*/
	}
	.card-content{
	/*	display: table;
		//position: absolute;
		//left: 0;
		//bottom:0;
		width: 100%;
		padding: 32px;
		z-index: 3;
	h3{
		color: #fff;
    //font-weight: 600;
    //font-size: 1.5rem;
		width: 50%;
		display: table-cell;
		margin-bottom: 0;
		vertical-align: middle;
   &.with-desc{
    width: 100%;
		display: block;
		margin-bottom: 16px;
		margin-top: 125px;
	}*/
	}
	p{
		//color:#fff;
	}
	.card-button{
		/*    float: right;
				padding-bottom: 0;
				padding-right: 0;
				padding-left: 5px;
				&.with-desc{
		     float:none;
padding-left: 0px;
		 	 }
	}*/
}
&:after{
	content: "";
		background: -webkit-gradient(linear,left top,left bottom,from(#19191900),to(#191919c9));
		background: -webkit-linear-gradient(top,#19191900 60%,#191919c9 100%);
		background: -moz-linear-gradient(top,#19191900 60%,#191919c9 100%);
		background: -o-linear-gradient(top,#19191900 60%,#191919c9 100%);
		background: linear-gradient(
180deg
,#19191900 60%,#191919c9 100%);
		height: 100%;
		width: 100%;
		position: absolute;
	left:0;
	top:0;
	z-index: 2;
}
&:hover{

	img.card-image{
		opacity: 0;
	}

}
&.card{
	padding: 0;
}
}



/* ------------------------------------------------------------------
2. Desktop, large
------------------------------------------------------------------- */
@include media-breakpoint-up(lg) {

}


/*------------------------------------------------------------------
3. Desktop, XL
--------------------------------------------------------------------*/
@include media-breakpoint-up(xl) {


}
