/**
 * SCSS styling for individual, static, profile block.
 */

/**
 * General styles
 */

// Hover effects on names that are links.
h3.person-name {
	a {
		text-decoration: none;
		color: $uds-color-font-dark-base;

		&:hover {
			color: $uds-color-brand-maroon;
			opacity: 0.7;
			text-decoration: underline;
		}
	}
}

// Hover effect on profile images that are links.
a.img-link > .profile-img {
	&:hover {
		opacity: 0.7;
	}
}

/**
 * Editor styles
 */
.acf-block-preview {
	// block clicks on the links inside the block.
	.uds-person-profile {
		a {
			pointer-events: none;
			cursor: auto;

			// keep images inside of <a> tags full-size.
			& img {
				min-width: 180px;
				width: 180px
			}
		}
	}
}


/**
 * Vertical profile styles
 */

/**
 * Styles applied to the wrapping profile container.
 */
.uds-person-profile.vertical {
	flex-direction: column;
	padding: 1rem;

	.img-link {
		text-align: center;
	}

	img.profile-img {
		margin-bottom: 2rem;
		align-self: center;
	}

	@media screen and (max-width: $uds-breakpoint-md) {
		max-width: 100%;
	}
}

/**
 * Styles applied to the inner 'person' container.
 */
.person.vertical {

	margin-left: 0;

	h3.person-name, h4.person-profession {
		text-align: center;
	}

	ul.person-contact-info {
		flex-direction: column;
		text-align: center;

		li {
			margin: .25rem 0 !important;
		}
	}

	ul.person-social-medias {
		display: flex;
		justify-content: center;
	}
}
