/*--------------------------------------------------------------
# UDS media gallery Block
--------------------------------------------------------------*/
.uds-gallery-block.carousel{
	.uds-gallery-controls{
		position: relative;
		.carousel-indicators{
	  position: relative;
		margin: 0;
		padding: 0 $uds-size-spacing-1;
		align-items: center;
		justify-content: left;
		li{
			width: 80px;
			height: 48px;
			border: 0;
			opacity: 1;
			margin: $uds-size-spacing-2 $uds-size-spacing-1;
			img{
				object-fit: cover;
				object-position: center;
				height: 100%;
			}
			&.active{
				border: 5px solid $uds-color-base-gold;
			}
		}

		}
		.carousel-control-next, .carousel-control-prev{
			width: 10%;
				@include media-breakpoint-up(lg) {
					width: 5%;
				}
			z-index: 99;
			background: linear-gradient(90deg,rgba(25,25,25,0) 0,rgba(25,25,25,.35) 100%);
		}
		.carousel-control-next{
			background: linear-gradient(90deg,rgba(25,25,25,0) 0,rgba(25,25,25,.35) 100%);
		}
		.carousel-control-prev{
			background: linear-gradient(270deg,rgba(25,25,25,0) 0,rgba(25,25,25,.35) 100%);
		}
	}
}


/* ------------------------------------------------------------------
2. Desktop, large
------------------------------------------------------------------- */
@include media-breakpoint-up(lg) {

}


/*------------------------------------------------------------------
3. Desktop, XL
--------------------------------------------------------------------*/
@include media-breakpoint-up(xl) {


}
