/*--------------------------------------------------------------
# Blockquotes Alt

1. Reset of original blockquote (_blockquotes.scss)
2. New Blockquote, mobile
3. New Blockquote, desktop
--------------------------------------------------------------*/

blockquote {
	border-left: none;
	font-weight: inherit;
	padding-left: 0;
	max-width: none;
}

blockquote:before {
	display: none;
}

/*------------------------------------------------------------------
2. New Blockquote, mobile
------------------------------------------------------------------- */
figure.uds-blockquote {

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	font-size: $uds-size-font-large;
	font-weight: 700;

	svg {
		fill: $uds-color-base-gray-7;
		width: $uds-size-spacing-5;
		height: auto;
	}

	blockquote {
		margin-top: $uds-size-spacing-2;
		margin-bottom: 0;

		p:last-child {
			margin-bottom: 0;
		}

		p:last-child:after {
			content: '"';
		}
	}

	figcaption {

		&:before {
			content: '';
			display: block;
			background-color: $uds-color-base-gray-5;
			height: $uds-size-spacing-half;
			width: $uds-size-spacing-9;
			margin: $uds-size-spacing-2 auto;
		}

		cite {
			display: block;
			font-size: $uds-size-font-medium;

			&.name {
				font-weight: 700;
			}

			&.name:before {
				padding-right: 0.5em;
				content: "\2014";
			}

			&.description {
				font-weight: 400;
				font-style: italic;
				padding-left: 1.5rem;
			}
		}
	}

	&.with-image {

		img {
			border-radius: 50%;
			height: 180px;
			max-height: 180px;
			max-width: 180px;
			min-height: 180px;
			min-width: 180px;		
			object-fit: cover;
			width: 180px;
		}

		blockquote p:first-child:before {
			content: '"';
		}
	}

	&.accent-gold {
		svg {
			fill: $uds-color-base-gold;
		}

		figcaption:before {
			background-color: $uds-color-base-gold;
		}
	}

	&.bq-color-padding {
		padding: $uds-size-spacing-3;
	}

	&.bq-light {
		background-color: $uds-color-base-gray-1;
	}

	&.bq-medium {
		background-color: $uds-color-base-gray-2;
	}

	&.bq-dark {
		background-color: $uds-color-base-gray-7;
		color: $uds-color-base-gray-1;
	}



	&.accent-maroon {
		svg {
			fill: $uds-color-base-maroon;
		}

		figcaption:before {
			background-color: $uds-color-base-maroon;
		}
	}

	&.accent-white {
		svg {
			fill: $uds-color-base-white;
		}

		figcaption:before {
			background-color: $uds-color-base-white;
		}
	}

	&.accent-gray-5 {
		svg {
			fill: $uds-color-base-gray-5;
		}

		figcaption:before {
			background-color: $uds-color-base-gray-5;
		}
	}
}



/*------------------------------------------------------------------
3. New Blockquote, desktop
------------------------------------------------------------------- */
@include media-breakpoint-up(md) {

	figure.uds-blockquote {

		display: flex;
		flex-direction: row;
		align-items: flex-start;
		text-align: left;

		// wraps either the large quotes, or the image
		div.feature-wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: flex-start;
			padding: 0 $uds-size-spacing-2 0 0;

		}

		blockquote {
			margin-top: 0;

			p:last-child {
				margin-bottom: 0;
			}

			p:last-child:after {
				content: '"';
			}
		}

		figcaption {
			// The space between quote and person's name/description.
			margin-top: $uds-size-spacing-2;

			&:before {
				display: none;
			}
		}

		&.with-image {

			img {
				object-fit: cover;
				height: 180px;
			}

			div.feature-wrapper {
				margin-right: $uds-size-spacing-4;
			}
		}

		&.with-image.reversed {
			flex-direction: row-reverse;

			div.feature-wrapper {
				// With image on the right, put margin on the left of it.
				margin-left: $uds-size-spacing-4;
			}
		}
	}
}
